
body {
    margin: 5;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #F2ECE4;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}



.table-bordered {
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
}

.small {
    width: 250px;
}

.bg-dark {
    background-color: rgb(253 163 13 / 65%) !important;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    color: rgb(255 255 255 / 87%);
    font-family: arial;
    font-style: unset;
}

img, svg {
    vertical-align: text-top;
    margin-left: 10px;
    margin-top: -10px;
}



.btn-primary {
    color: #fff;
    background-color: #1e40b0;
    border-color: #0015ff;
}


